.header {
  height: 70px;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-border);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

/* Left */
.header__left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-btn {
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
}

/* نخفي الزر على الديسكتوب */
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.header__title {
  font-weight: 600;
  color: var(--color-text-dark);
}

/* Right */
.header__right {
  display: flex;
  align-items: center;
}

/* Admin */
.admin {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin__info p {
  margin: 0;
  font-size: 14px;
  color: var(--color-text-dark);
}

.admin__info span {
  font-size: 12px;
  color: var(--color-text-medium);
}

/* Avatar */
.admin__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-gold);
  color: var(--color-black);

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}